@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Trispace:wght@100..800&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

/* ⭐ Reset */
* {
	margin: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: auto;
}

/* ⭐ Layout */
.wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	background: #050505;
	flex-direction: column;
	gap: 1rem;
}

.section {
	width: 100%;
	height: 100vh;
	padding: 32px 16px;
}

@media (min-width: 1024px) {
	.section {
		width: 100%;
		height: 100vh;
		padding: 32px 64px;
	}
}

/* ⭐ Typography */
.heading-primary {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 2rem;
	font-weight: normal;
	color: #fefefe;
}

.heading-secondary {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.75rem;
	font-weight: normal;
	color: #fefefe;
}

.paragraph {
	font-family: 'Space Mono', system-ui;
	font-size: 1rem;
	color: #f9f9f9;
}

.title-container > span {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1rem;
	font-weight: normal;
	color: #c5c7b2;
	line-height: 1.5rem;
}

@media (min-width: 744px) {
	.heading-primary {
		font-size: 2.5rem;
	}

	.heading-secondary {
		font-size: 2rem;
	}
}

@media (min-width: 1024px) {
	.heading-primary {
		font-size: 3.5rem;
	}

	.heading-secondary {
		font-size: 3rem;
	}
}

/* ⭐ Components */
.button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: fit-content;
	height: fit-content;
	padding: 16px 24px;
	border-radius: 4px;
	background: #ffff88;
	color: #050505;
	text-decoration: none;
	font-family: 'Space Mono', system-ui;
	white-space: nowrap;
	font-size: 1rem;
}

.button > p {
	color: #050505;
}

.button > img {
	width: 24px;
}

/* ⭐ Home */
.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	position: relative;
}

.home-container img {
	position: absolute;
	bottom: 4rem;
	transform: translateX(calc(50% - 16px));
}

.home-container .title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.title-container .heading-primary {
	width: 100%;
}

.title-container .heading-primary,
.title-container .paragraph {
	text-align: center;
}

.title-container .paragraph {
	color: #808080;
	max-width: 40rem;
}

.title-container .heading-primary > span {
	font-family: 'Rancho', system-ui;
	color: #ffff88;
}

.buttons-container {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
}

.buttons-container .button {
	width: fit-content;
	height: fit-content;
	padding: 8px 16px;
	border-radius: 4px;
	background: #ffff88;
	color: #050505;
	text-decoration: none;
	font-family: 'Space Mono', system-ui;
	white-space: nowrap;
	font-size: 1rem;
}

@media (min-width: 744px) {
	.home-container {
		background: url('../assets/Web\ Developer.svg');
		background-size: contain;
		background-position: center calc(50% - 32px);
		background-repeat: no-repeat;
	}

	.title-container .heading-primary {
		overflow: visible;
	}

	.home-container .buttons-container {
		display: none;
	}
}

@media (min-width: 1024px) {
}

/* ⭐ About */
.about-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: auto;
	position: relative;
}

.about-container .title-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.content-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.apresentation-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.apresentation-container .image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
	max-height: 360px;
}

.curiosities-container {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.curiosities-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0px;
	gap: 16px;
}

.curiosities-list li {
	display: flex;
	gap: 16px;
}

.curiosities-list li img {
	width: 32px;
}

.about-container > img {
	bottom: 4rem;
	transform: translateX(calc(50% - 16px));
	align-self: center;
}

@media (min-width: 744px) {
	.apresentation-container img {
		height: 100%;
	}
}

@media (min-width: 1024px) {
	.content-container {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		height: 100%;
	}

	.apresentation-container {
		flex: 5;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.curiosities-container {
		flex: 7;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.image-container {
		display: flex;
		height: 100%;
	}

	.image-container img {
		height: 100%;
	}
}

/* ⭐ Projects */
.projects-section {
	min-height: 100vh;
	height: auto;
}

.projects-section .content-container {
	flex-direction: column;
}

.projects-container {
	display: flex;
	gap: 1rem;
}

.project {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.slider {
	height: 100%;
	width: 100%;
}

.slider > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
	object-position: top;
}

.controlls {
	display: flex;
	gap: 4px;
}

@media (min-width: 744px) {
	.slider > img {
		flex: 1;
		max-height: 35rem;
		object-fit: cover;
		border-radius: 8px;
	}
}

@media (min-width: 1024px) {
	.slider > img {
		flex: 1;
		max-height: 20rem;
		object-fit: cover;
		border-radius: 8px;
	}
}
